<header>
  <div class="container__head">
    <div><a href="../"><img src="/images/logo.jpg" alt="logo" width="150px"></a></div>

    <nav>
      <ul>
        <li><a href="/produtos/">Produtos</a></li>
        <li><a href="/produtos/adicionar">Adicionar Produtos</a></li>
        <li><a href="/sobre/">Sobre</a></li>
        <li><a href="/contato/">Contato</a></li>
      </ul>
    </nav>


  </div>
</header>