*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

header{
  background-color: #fff;
  padding: 20px 30px 0;
  width: 100%;
  color: #333;
}

header a:hover{
  color: #bbb;
}

.container{
  padding: 30px 50px 70px;
}

.container__head{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

nav ul{
  width: auto;
}

nav ul{
  display: flex;
  justify-content: space-evenly;
}

nav ul li{
  justify-content: space-around;
  list-style: none;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

footer{
  background-color: #333;
  color: #bbb;
  width: 100%;
  padding: 40px;
  text-align: center;
}

article{
  margin: 16px 0;
}

.container__produto{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.container__produto article{
  width: 31%;
  margin: 10px 10px;
}

.imagem__box{
  text-align: center;
}

@media (min-width: 550px){
  .container__head{
    flex-flow: row wrap;
    justify-content: space-between;
  }
}